<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean class="com.rakesh.beans.Employee" id="emp1"> 
		<property name="name" value="Rakesh "></property> 
		<property name="mail" value="rakesh@gmail.com"></property> 
		<property name="phone" value="789456123"></property>
		<property name="skill" value="MERN"></property> </bean>
		
	<!--  	<bean class="com.rakesh.beans.skill" id="skill">
				<property name="web" value="MEAN"></property>
				<property name="cloud" value="AWS"></property>
				<property name="ai" value="hjhg"></property>
		</bean>
		
	-->	
		
		
	<!--  <bean class="com.rakesh.beans.Employee" id="emp1">
		<constructor-arg value="RakeshGupta "></constructor-arg>
		<constructor-arg value="rakeshibm@gmail.com"></constructor-arg>
		<constructor-arg value="789456321 "></constructor-arg>
		<constructor-arg value="MERN, JAVA"></constructor-arg>
	</bean>
	-->

</beans>